div, img{
  height: 3em;
  width: 3em;
  @media screen and (max-width: 500px) {
    height: 5em;
    width: 5em;
  }
}
.pill-title{
  height: auto;
  width: auto;
  font-size: 0.4em;
  overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  @media screen and (max-width: 500px) {
    font-size: 0.7em;
    width: 100%;
  }
}

div {
  img{
    border-radius: 0.5em;
  }
  .pill-container{
    position: relative;
  }
  .overlay{
    opacity: 0;
    border-radius: 0.45em;
    background-color: white;
    transition: opacity ease 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    @media screen and (min-width: 500px){
        &:hover{
          opacity: 0.7;
        }
    }

    p{
      font-size: 0.7em;
      margin: 0;
      @media screen and (max-width: 500px){
        font-size: 1.4em;
      }
    }
  }
  .selectedPill{
    opacity: 0.85;
  }
}

