// @import url(~fullpage.js/dist/fullpage.min.css);
@font-face{
  font-family: alternate-gothic;
  src: url(assets/fonts/gothic.otf) format("opentype");
}
@import '~swiper/dist/css/swiper.min.css';
// change default css
.fp-controlArrow {
    padding: 0 1%;
}

