$gray: #eaeaea;
$navy_blue: #1c1c1c;
$rice_brown: #c8a175;
$duck_yello: #fff471;
$gray_dark: #d8d7d6;

.fp-enabled .modal{
  position:fixed !important;
}
.modal-backdrop.show{
  z-index: -1;
}

.arrow-bot{
  position: absolute;
  bottom: 0.25em;
  left: 50%;
  margin-left: -1.25em;
  z-index: 100;
  svg {
    @media screen and (min-width: 500px){
    &:hover{
      height: 1.3em !important;
    }
    }
    @media screen and (max-width: 500px){
      width: 2.5em !important;
      height: 2.5em !important;
    }
  }
}
.fade-in {
	-webkit-animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
	        animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



section {
  width: 100%;
  padding: 5em;
  box-sizing: border-box;
  color: white;
  font-family: alternate-gothic, sans-serif;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;


  &.options{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: $navy_blue;
    padding: 0;
    background-color: $gray;

    .result-options, .select-options{
      width: 100%;
      height: 90%;
      @media screen and (min-width: 500px) {
        width: 50%;
      }
    }
    .title{
      height: 10%;
      width: 100%;
      margin: 1.5em auto 0 auto;
      @media screen and (max-width: 500px){
        height: 8%;
        font-size: 1.2em;
        margin: 2.5em auto 0 auto;
        p{
          margin-bottom: 0;
          margin-top: 0.5em;
        }
      }
    }
    .result-options{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      .estimate{
        margin: auto;
      }
      .modal{
        top: calc(50% - 7.5em);
        .modal-content{
          height: 15em;
          width: 13em;
          .modal-body{
            img{
              width: 5em;
            }
          }
        }
      }
      .configuration{
        height: 50%;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        background-color: #e3e3e3;
        /* background-color: white; */
        border-radius: 0.5em;
        padding: 1em;
        margin-right: 1em;
        margin-left: 0.5em;
        @media screen and (max-width: 500px){
          margin-left: 1em;
          width: 90%
        }
        margin-top: 0.8em;
        .parts{
          width: 50%;
          font-size: 0.35em;

          svg-icon{
            float: left;
            svg{
              @media screen and (max-width: 500px){
                width: 5em !important;
                height: 5em !important;
              }
            }
          }
          .parts-title{
            float: left;
            height: 100%;
            margin-left: 1em;
            margin-top: 0.5em;
            span{
              float: left;
              @media screen and (max-width: 500px){
                font-size: 3em;
              }
            }
            p {
              clear: left;
              margin-bottom: 0;
              // width: 12em;
              font-size: 1.4em;
              text-align: left;
              @media screen and (max-width: 500px){
                font-size: 4em;
              }
            }
          }
        }
      }
    }
    .select-options{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      .custom-form{
        flex-flow: row;
        svg-icon{
          margin: -0.2em;
        }
      }
      .switch-tab{

        // border-top-left-radius: 0.5em;
        // border-top-right-radius: 0.5em;
        border-bottom: none;
        padding-top: 0em;
        font-size: 0.5em;
        padding: 0.1em 0 0 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-left: auto;
        margin-right: 1.5em;
        @media screen and (max-width: 500px){
          // margin-left: -2em;
        }
        div{
          padding: 0 1em;
          border-top-left-radius: 0.5em;
          border-top-right-radius: 0.5em;
          border-right: 2px solid #acacac;
          border-top: 1px solid #c7c3c3;
          background-color: #bdbdbd
        }
        .onSwitch{
          background-color: #e3e3e3;
        }
        @media screen and (max-width: 500px){
          font-size: 1.5em;
        }
      }
      .switch-container{
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
      }
      .options-scroll{
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #e3e3e3;
        border-radius: 3.5em;
        margin-left: 1em;
        margin-right: 0.5em;
        svg-icon{
          svg{
            @media screen and (max-width: 500px) {
              width: 4em !important;
              height: 4em !important;
            }
          }
        }
        svg-icon:nth-of-type(2) {
          margin-top: auto;
        }
        // float: left;
      }
      .options-container{
        // float: left;
        scroll-behavior: smooth;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        overflow: hidden;
        height: 100%;
        width: auto;
        background-color: #e3e3e3;
        /* margin: 0 1em; */
        border-radius: 0.5em;
        // margin-left: 1em;
        // margin-right: 0.5em;
        @media screen and (max-width: 500px){
          margin-right: 1em;
        }
        select-pill{
          margin: 0.5em;
          position: relative;
        }
      }
    }
    .btn-card{
      background-color: $navy_blue;
      color: white;
      margin: auto auto -5em auto;;
      border-radius: 300px;
      border: none;
      height: 3.5em;
      width: 11em;
      text-align: center;
      font-size: 0.3em;
      font-weight: 100;
      letter-spacing: 0.2em;
      transition: background-color 0.3s ease;
      // position: absolute;
      right: 2em;
      bottom: 2em;
      @media screen and (min-width: 500px){
      &:hover{
        background-color: $rice_brown;
        color: white;
      }
    }
      @media screen and (max-width: 500px){
        font-size: 0.6em;
        margin-bottom: 0;
      }
    }

    form{

      width: 12em;
      margin: auto;
      background-color: #e3e3e3;
      border-radius: 0.5em;
      padding: 0 1em 0 0.5em;
      @media screen and (max-width: 500px) {
        width: 80%;
      }
      svg-icon{
        svg{
          @media screen and (max-width: 500px) {
            width: 6em !important;
          }
        }

      }
      div{
        padding-right: 0.5em;
        border-right: solid 1px white;
      }
      input{
        font-size: 0.5em;
        padding-bottom: 0;
        border-bottom: 1px solid #c8c9cb;
        @media screen and (max-width: 500px){
          font-size: 1.5em;
        }
      }
      i{
        font-size: 0.5em;
        color: $navy_blue;
        @media screen and (max-width: 500px){
          font-size: 1.2em;
        }
      }
    }
    .swiper-container{
      height: 15em;
      width: 75em;
      margin: auto calc( 50% - 37.5em) 0 calc( 50% - 37.5em);
    }
    .swiper-slide{
      // width: 20%;
      margin: 0 1.45px;
      overflow: hidden;
      div{
        opacity: 0;
        background-color: white;
        transition: opacity ease 0.5s;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover{
          opacity: 0.7;
        }
      }
      div:nth-of-type(1){
        position: absolute;
        height: calc(50% - 2.5px);
        width: 100%;
        top: 0;
      }
      div:nth-of-type(2){
        position: absolute;
        height: 50%;
        width: 100%;
        top: 50%;

      }
      img{
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      img:nth-of-type(1){
        height: calc(50% - 2.5px);
        margin-bottom: 2.5px;
      }
      img:nth-of-type(2){
        height: calc(50% - 2.5px);
        margin-top: 2.5px;
      }
    }
  }
  &.about{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: $gray;
    padding: 0;
    div{
      width: 24em;
      @media screen and (max-width: 500px){
        width: 26em;
      }
    }
    small{
      font-family: "utopia-std";
      text-transform: none;
      letter-spacing: 0;
      font-style: italic;
      font-size: 0.35em;
      color: $navy_blue;
      @media screen and (max-width: 500px){
        font-size: 1em;
      }
    }
    .about-container {
      margin-top: 1.5em;
      margin-bottom: 3.5em;
    }
    .about-caption{
      font-size: 0.38em;
      @media screen and (max-width: 500px){
        font-size: 1.1em
      }
    }
    .about-title{
      font-size: 1em;
      @media screen and (max-width: 500px){
        font-size: 3em;
      }
      font-weight: 100;
      font-family: sans-serif;
      margin-bottom: 0;
    }
    p{
      width: 100%;
      font-size: 0.5em;
      line-height: 2em;
      letter-spacing: 2px;
      color: $navy_blue;
      margin-bottom: 1em;
      @media screen and (max-width: 500px){
        font-size: 1.2em;
        letter-spacing: 1px;
      }
    }
  }
  &.story{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: sans-serif;
    @media screen and (max-width: 500px){
      padding: 3.5em;
    }
    svg-icon{
      svg{
        @media screen and (max-width: 500px){
          padding-bottom: 4rem;
        }
      }
    }
    // border: 2px solid white;
    h3{
      font-size: 2em;
      font-weight: 100;
    }
    p {
      font-size: 1.4em;
      margin: 0;
      font-weight: bold;
      opacity: 0.6;
    }
    h1{
      font-size: 1.5em;
      // border-bottom: 0.1em solid white;
      span{
        color: white;
        font-size: 1.5em;
        font-weight: bold;
        @media screen and (max-width: 500px){
          font-size: 2em;
        }
        // border: 0.06em solid;
        // letter-spacing: 0.3em;
        // padding-left: 0.5em;
      }
    }
    background-image: url('../../assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  &.products{
    background-color: white;
    z-index: 5;
    padding-top: 100px;
    position: absolute;
    color: $navy_blue;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .title{
      width:100%;
      height: 100px;
      text-align: center;
      h2{
        font-weight: 600;
        font-size: 2.2em;
      }
    }

  }
}
.section {

 section{
  // border: 0.3em solid white;

  &.product{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    .product-card{
      border: none;
      width: 50%;
      @media screen and (max-width: 500px){
        width: 90%;
      }
      height: 100%;
      img{
        margin-top: 30%;
      }
      margin: 0 1%;
      .card-body{
        margin: 20% 0;
        padding: 0;
        small{
          font-family: "utopia-std";
          text-transform: none;
          letter-spacing: 0;
          font-style: italic;
          font-size: 0.35em;
        }
        p{
          font-size: 0.5em;
          line-height: 1.5em;
          letter-spacing: 2px;
          padding-top: 1em;
          @media screen and (max-width: 500px){
            font-size: 1.3em;
            letter-spacing: 1px;
          }
        }
        .btn-card{
          margin-top: 25%;
          border-radius: 300px;
          border: none;
          height: 3.5em;
          width: 11em;
          text-align: center;
          font-size: 0.24em;
          font-weight: 100;
          letter-spacing: 0.2em;
          transition: background-color 0.3s ease;
          @media screen and (min-width: 500px){
          &:hover{
            background-color: $rice_brown;
            color: white;
          }
        }
        }
      }
    }
    .left-container{
      background: #e3e3e3;
      height: 100%;
      // width: 50%;
      max-width: 50%;;
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      button{
        color: $navy_blue;
        background-color: white
      }
    }
    .right-container{
      background: $gray;
      height: 100%;
      // width: 50%;
      max-width: 50%;;
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $navy_blue;
      button{
        color: white;
        background-color: $navy_blue;
      }
    }
  }
 }
}

#menu{
	position: fixed;
    /* top: 0.9em; */
    left: 0;
    z-index: 70;
    width: 100%;
    /* padding: 0; */
    /* margin-left: -1em; */
    /* margin: 0 -23em 0 1em; */
    // border-left: solid 0.9em white;
    // border-right: solid 0.9em white;
    @media screen and (max-width: 500px) {
      margin-top: 1em;
    }
}

header.non-first{
  height: 2em;
  @media screen and (max-width: 500px){
    height: 5.5em;
    margin-top: 0  !important;
  }
  background-color: #1c1c1c;
  div{
    min-height: auto;
  }
}

header {

  font-size: 0.33em;
  height: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $navy_blue;
  @media screen and (max-width: 500px){
    height: 5em;
  }
   div {
     min-width: 30px;
     min-height: 30px;
     letter-spacing: 0.2em;
    //  &.top-right{
    //    svg-icon{
    //    }
    //  }
     &.top-middle{
       // width: 80px;
      //  margin: 0 30em;
       h1{
         font-size: 4em;
         span{
           letter-spacing: -0.16em;

           svg-icon{
             svg{
              @media screen and (max-width: 500px){
                height: 10em !important;
                width: 10em !important;
              }
             }
           }

         }
       }
     }
     span{
       a{
         color: white;
         margin: 0.618em;
         padding: 0.618em;
         font-size: 0.85em;
         @media screen and (max-width: 500px){
           font-size: 2.5em;
           padding: 0;
         }
         transition: background-color 0.3s ease;
         @media screen and (min-width: 500px){
         &:hover{
          background-color: $rice_brown;
           color: $navy_blue;
          //  text-decoration: underline;
         }
        }
       }
     }
   }
 }
