<svg-icon *ngIf="disableLoading" (click)="nextPage()" [applyCss]="true" class="arrow-bot" src="../../assets/arrow-bot.svg" [svgStyle]="{ 'width.em': 2, 'height.em': 1 }"></svg-icon>
<header [@enterAnimation] id="menu" [ngClass]="{'non-first': !disableMenu}">
  <div *ngIf="!mobile" class="top-left">
    <span>
      <a>STORY</a>
      <a>GALLERY</a>
    </span>
  </div>
  <div [@enterAnimation] *ngIf="disableMenu && !mobile" class="top-middle">
    <h1 ><span><svg-icon src="../../assets/nano-logo-5.svg" [applyCss]="true" [svgStyle]="{ 'width.em': 5}"></svg-icon></span> </h1>
  </div>
  <div class="top-right">
    <span>
      <a *ngIf="mobile">STORY</a>
      <a *ngIf="mobile">GALLERY</a>
      <a>CONTACT</a>
      <a (click)="changeLanguage()">LANGUAGE
        <svg-icon *ngIf="translate.currentLang === 'en' " src="../../assets/canada.svg" [svgStyle]="{ 'width.em': 2, 'padding-left.em': 0.25, 'padding-bottom.em': 0.25}"></svg-icon>
        <svg-icon *ngIf="translate.currentLang === 'cn' " src="../../assets/china.svg" [svgStyle]="{ 'width.em': 2, 'padding-left.em': 0.25, 'padding-bottom.em': 0.25}"></svg-icon>
      </a>
    </span>
  </div>
</header>

<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)" #fullpageRef>
  <div class="section">
    <div>

    </div>
    <section class="story">
      <div class="fade-in">
          <h1 *ngIf="!mobile" ><span>Nano Design</span></h1>
          <div [@enterAnimation] *ngIf="disableMenu && mobile" class="top-middle">
            <h1 ><span><svg-icon src="../../assets/nano-logo-5.svg" [applyCss]="true" [svgStyle]="{ 'width.em': 5, 'height.em' : 5, 'padding-left.em' : 0.4}"></svg-icon></span> </h1>
          </div>
      </div>


    </section>
  </div>
  <div class="section">
    <section class="about">

      <div>
        <div class="about-container">
            <p class="about-title">- Our Mission -</p>
            <p class="about-caption">{{ 'STORY_CAPTION' | translate}} </p>
        </div>

        <!-- <p>        To provide the most unique customize pc for passionate users.
          </p>
        <p> Nano design is a group formed by experienced hardware engineer, software developer and customer service. We want to make the whole process transparent, budget efficient and more customize to benefit as many pc lovers as possible. Always remember making the unique feeling for users is one of the most important goals from us.
          </p> -->
          <p>{{ 'FIRST_STORY' | translate}}</p>
          <p>{{ 'SECOND_STORY' | translate}}</p>
        <small>The NanoDesign Team</small>
      </div>
    </section>
  </div>
  <div class="section">
    <section class="product">
      <div class="left-container">
        <div class="product-card">
          <img class="card-img-top" src="../assets/gamingPC.jpg" alt="Card image cap">
          <div class="card-body">
            <small class="card-title">Gaming Computer</small>
            <p class="card-text">{{ 'GAMING_DES' | translate}}</p>
            <div class="text-center">
              <button href="#" class="btn-card" (click)="nextGame()">LEARN MORE</button>
            </div>
          </div>
        </div>
      </div>
      <div class="right-container">
        <div class="product-card">
          <img class="card-img-top" src="../assets/workPC.jpg" alt="Card image cap">
          <div class="card-body">
            <small class="card-title">Work Station</small>
            <p class="card-text">{{ 'WORK_DES' | translate}}</p>
            <div class="text-center">
              <button href="#" class="btn-card" (click)="nextWork()">LEARN MORE</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="section">
    <section class="options">
        <div class="title">
            <p> Click on the app to see your config</p>
          </div>
      <div class="select-options">

        <!-- <div class="swiper-container" [swiper]="swipperConfig">

            <div class="swiper-wrapper">
              <div class="swiper-slide" *ngFor="let game of gameList">
                  <select-pill [imgLink]="'../../assets/gameLogo/' + game + '.jpg'" [pillName]="game" [selected]="selectedList.includes(game)" (select)="pillSelect($event)" ></select-pill>
              </div>
            </div>
          </div> -->
        <div class="switch-tab">
          <div (click)="switchTab()" [ngClass]="{'onSwitch': switchStatus === 'game'}" >Games</div>
          <div (click)="switchTab()" [ngClass]="{'onSwitch': switchStatus === 'work'}">Office</div>
        </div>

        <div class="switch-container">
            <div class="options-scroll">
                <svg-icon [applyCss]="true" (click)="scrollToBot(container)" src="../../assets/select-up.svg" [svgStyle]="{ 'width.em': 2 }"></svg-icon>
                <svg-icon [applyCss]="true" (click)="scrollToTop(container)" src="../../assets/select-down.svg" [svgStyle]="{ 'width.em': 2 }"></svg-icon>
            </div>
            <div #container class="options-container">
                <ng-container *ngFor="let game of gameList">
                  <select-pill [imgLink]="'../../assets/gameLogo/' + game.id + '.jpg'" [pillID]="game.id" [pillName]="game.name"
                    [selected]="selectedList.includes(game.id)" (select)="pillSelect($event)"></select-pill>
                </ng-container>
              </div>
        </div>


        <button [@enterAnimation] (click)="getResult()" *ngIf="selectedList.length !== 0" href="#" class="btn-card">GET RESULT</button>
        <!-- <button (click)="scrollToTop(container)">scroll to top</button> -->
        <!-- <button (click)="scrollToBot(container)">scroll to bottom</button> -->
        <form class="custom-form form-inline md-form form-sm">

          <input [formControl]="searchField" class="form-control form-control-sm ml-3 w-75" type="text"
            placeholder="Search" aria-label="Search">
          <i class="fas fa-search" aria-hidden="true"></i>
        </form>

      </div>

      <div *ngIf="!mobile" class="result-options">
        <svg-icon [@loadAnimation] *ngIf="loading === 'load'" src="../../assets/loading.svg" [svgStyle]="{ 'width.em': 3, 'height.em': 3, 'margin-top.em': 5 }"></svg-icon>
        <div [@loadAnimation] *ngIf="loading === 'init'" class="configuration">
          <p>Select some Apps to get your result</p>
        </div>
        <div [@loadAnimation] *ngIf="loading === 'result'" class="configuration">
          <div class="parts">
            <svg-icon src="../../assets/CPU.svg" [svgStyle]="{ 'width.em': 5, 'height.em': 5 }"></svg-icon>
            <div class="parts-title">
                <span>CPU</span>
                <p>{{result.cpu}}</p>
            </div>
          </div>
          <div class="parts">
            <svg-icon src="../../assets/GPU.svg" [svgStyle]="{ 'width.em': 5 ,'height.em': 5 }"></svg-icon>
            <div class="parts-title">
                <span>Graphics Card</span>
                <p>{{result.gpu}}</p>
            </div>
          </div>
          <div class="parts">
            <svg-icon src="../../assets/config-ram.svg" [svgStyle]="{ 'width.em': 5 }"></svg-icon>
            <div class="parts-title">
                <span>Case</span>
                <p>{{result.mem}}</p>
            </div>
          </div>
          <div class="parts">
            <svg-icon src="../../assets/config-ram.svg" [svgStyle]="{ 'width.em': 5 }"></svg-icon>
            <div class="parts-title">
                <span>Memorey</span>
                <p>{{result.mem}}</p>
            </div>
          </div>
          <div class="parts">
              <svg-icon src="../../assets/config-ram.svg" [svgStyle]="{ 'width.em': 5 }"></svg-icon>
              <div class="parts-title">
                  <span>Memorey</span>
                  <p>{{result.mem}}</p>
              </div>
            </div>
            <div class="parts">
                <svg-icon src="../../assets/PSU.svg" [svgStyle]="{ 'width.em': 5,'height.em': 5 }"></svg-icon>
                <div class="parts-title">
                    <span>Power Supply</span>
                    <p>{{result.psu[0]}}</p>
                    <p>Total Power: {{result.psu[1]}}W</p>
                </div>
              </div>
        </div>
        <div class="estimate">
          <h1 *ngIf="loading === 'result'"> ESTIMATE PRICE: ${{result.price}}</h1>
          <!-- Button trigger modal -->
          <button type="button" class="btn-card" data-backdrop="false" data-toggle="modal" data-target="#myModal">CONTACT US</button>
          <div class="modal fade" id="myModal" role="dialog" style="position: absolute;;">
              <div class="modal-dialog">

                 <!-- Modal content-->
                 <div class="modal-content">
                    <div class="modal-body">
                       <img src="../../assets/wechat.jpg">
                       <p>Email: xxxxx@gmail.com</p>
                       <p>Phone: 1-647-782-2427</p>
                       <div> Follow us on</div>
                    </div>
                    <div class="modal-footer">
                       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                 </div>
              </div>
           </div>
    </div>
      </div>

    </section>
  </div>

  <div *ngIf="mobile" class="section">
    <section class="options">
        <!-- <div class="title">
            <p> Select some Apps to get your result</p>
          </div> -->

      <div class="result-options">
        <svg-icon [@loadAnimation] *ngIf="loading === 'load'" src="../../assets/loading.svg" [svgStyle]="{ 'width.em': 3, 'height.em': 3, 'margin-top.em': 5 }"></svg-icon>
        <div [@loadAnimation] *ngIf="loading === 'init'" class="configuration">
          <p>Select some Apps to get your result</p>
        </div>
        <div [@loadAnimation] *ngIf="loading === 'result'" class="configuration">
          <div class="parts">
            <svg-icon src="../../assets/config-cpu.svg" [applyCss]="true" [svgStyle]="{ 'width.em': 5, 'height.em': 5 }"></svg-icon>
            <div class="parts-title">
                <span>CPU</span>
                <p>{{result.cpu}}</p>
            </div>
          </div>
          <div class="parts">
            <svg-icon src="../../assets/config-gpu.svg" [applyCss]="true" [svgStyle]="{ 'width.em': 5 ,'height.em': 5 }"></svg-icon>
            <div class="parts-title">
                <span>Graphics Card</span>
                <p>{{result.gpu}}</p>
            </div>
          </div>
          <div class="parts">
            <svg-icon src="../../assets/config-ram.svg" [applyCss]="true" [svgStyle]="{ 'width.em': 5 }"></svg-icon>
            <div class="parts-title">
                <span>Case</span>
                <p>{{result.mem}}</p>
            </div>
          </div>
          <div class="parts">
            <svg-icon src="../../assets/config-ram.svg" [applyCss]="true" [svgStyle]="{ 'width.em': 5 }"></svg-icon>
            <div class="parts-title">
                <span>Memorey</span>
                <p>{{result.mem}}</p>
            </div>
          </div>
          <div class="parts">
              <svg-icon src="../../assets/config-ram.svg" [applyCss]="true" [svgStyle]="{ 'width.em': 5 }"></svg-icon>
              <div class="parts-title">
                  <span>Memorey</span>
                  <p>{{result.mem}}</p>
              </div>
            </div>
            <div class="parts">
                <svg-icon src="../../assets/config-ram.svg" [applyCss]="true" [svgStyle]="{ 'width.em': 5,'height.em': 5 }"></svg-icon>
                <div class="parts-title">
                    <span>Power Supply</span>
                    <p>{{result.psu[0]}}</p>
                    <p>{{result.psu[1]}}W Power</p>
                </div>
              </div>
        </div>
        <div class="estimate">
          <h1 *ngIf="loading === 'result'"> ESTIMATE PRICE: ${{result.price}}</h1>
          <!-- Button trigger modal -->
          <button type="button" class="btn-card" data-backdrop="false" data-toggle="modal" data-target="#myModal">CONTACT US</button>
          <div class="modal fade" id="myModal" role="dialog" style="position: absolute;;">
              <div class="modal-dialog">

                 <!-- Modal content-->
                 <div class="modal-content">
                    <div class="modal-body">
                       <img src="../../assets/wechat.jpg">
                       <p>Email: xxxxx@gmail.com</p>
                       <p>Phone: 1-647-782-2427</p>
                       <div> Follow us on</div>
                    </div>
                    <div class="modal-footer">
                       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                 </div>
              </div>
           </div>
    </div>
      </div>

    </section>
  </div>
  <!-- <div class="section">
    <h1>Section 4</h1>
    <button (click)="addSection()">Add sections and change color</button>
    <button (click)="fullpage_api.moveTo('secondPage', 2)">Move to second page</button>
    <button (click)="removeLast()">Remove last</button>
  </div> -->
</div>
