<svg-icon *ngIf="disableLoading" (click)="nextPage()" [applyCss]="true" class="arrow-bot" src="../../assets/arrow-bot.svg" [svgStyle]="{ 'width.em': 2, 'height.em': 1 }"></svg-icon>
<header [@enterAnimation] id="menu" [ngClass]="{'non-first': !disableMenu}">
  <div *ngIf="!mobile && disableMenu" class="top-left">
    <span>
      <a [ngClass]="{'active': activeSlide === 'secondPage'}" (click)="fullpage_api.moveTo(2)" >{{ "US" | translate}}</a>
      <a [ngClass]="{'active': activeSlide === 'thirdPage'}" (click)="fullpage_api.moveTo(3)" >{{"GALLERY" | translate}}</a>
    </span>
  </div>
  <div [@enterAnimation] *ngIf="disableMenu && !mobile" class="top-middle">
    <h1 ><span><svg-icon src="../../assets/nano-logo-5.svg" [applyCss]="true" [svgStyle]="{ 'width.em': 5}"></svg-icon></span> </h1>
  </div>
  <div class="top-right" *ngIf="!mobile && disableMenu">
    <span>
      <a [ngClass]="{'active': activeSlide === 'fourthPage'}" (click)="fullpage_api.moveTo(4)">{{"CONFIG" | translate}}</a>
      <a (click)="changeLanguage()">LANGUAGE
        <svg-icon *ngIf="translate.currentLang === 'en' " src="../../assets/canada.svg" [svgStyle]="{ 'width.em': 2, 'padding-left.em': 0.25, 'padding-bottom.em': 0.25}"></svg-icon>
        <svg-icon *ngIf="translate.currentLang === 'cn' " src="../../assets/china.svg" [svgStyle]="{ 'width.em': 2, 'padding-left.em': 0.25, 'padding-bottom.em': 0.25}"></svg-icon>
      </a>
    </span>
  </div>

  <div class="top-right" *ngIf="mobile || !disableMenu">
    <span>
      <a [ngClass]="{'active': activeSlide === 'secondPage'}" (click)="fullpage_api.moveTo(2)" >{{ "US" | translate}}</a>
      <a [ngClass]="{'active': activeSlide === 'thirdPage'}" (click)="fullpage_api.moveTo(3)" >{{"GALLERY" | translate}}</a>
      <a [ngClass]="{'active': activeSlide === 'fourthPage' || activeSlide === 'lastPage'}" (click)="fullpage_api.moveTo(4)">{{"CONFIG" | translate}}</a>
      <a (click)="changeLanguage()">LANGUAGE
        <svg-icon *ngIf="translate.currentLang === 'en' " src="../../assets/canada.svg" [svgStyle]="{ 'width.em': 2, 'padding-left.em': 0.25, 'padding-bottom.em': 0.25}"></svg-icon>
        <svg-icon *ngIf="translate.currentLang === 'cn' " src="../../assets/china.svg" [svgStyle]="{ 'width.em': 2, 'padding-left.em': 0.25, 'padding-bottom.em': 0.25}"></svg-icon>
      </a>
    </span>
  </div>
</header>

<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)" #fullpageRef>
  <div class="section">
    <div>

    </div>
    <section class="story">
      <div class="fade-in">
          <h1 *ngIf="!mobile" ><span>Nano Design</span></h1>
          <div [@enterAnimation] *ngIf="disableMenu && mobile" class="top-middle">
            <h1 ><span><svg-icon src="../../assets/nano-logo-5.svg" [applyCss]="true" [svgStyle]="{ 'width.em': 5, 'height.em' : 5, 'padding-left.em' : 0.4}"></svg-icon></span> </h1>
          </div>
      </div>


    </section>
  </div>
  <div class="section">
    <section class="about">

      <div>
        <div class="about-container">
            <p class="about-title">- Our Mission -</p>
            <p class="about-caption">{{ 'STORY_CAPTION' | translate}} </p>
        </div>

        <!-- <p>        To provide the most unique customize pc for passionate users.
          </p>
        <p> Nano design is a group formed by experienced hardware engineer, software developer and customer service. We want to make the whole process transparent, budget efficient and more customize to benefit as many pc lovers as possible. Always remember making the unique feeling for users is one of the most important goals from us.
          </p> -->
          <p>{{ 'FIRST_STORY' | translate}}</p>
          <p>{{ 'SECOND_STORY' | translate}}</p>
        <small>The NanoDesign Team</small>
      </div>
    </section>
  </div>
  <div class="section">
    <section *ngIf="!mobile" class="product">
      <div class="left-container">
        <div class="product-card">
          <img class="card-img-top" src="../assets/gamingPC.jpg" alt="Card image cap">
          <div class="card-body">
            <small class="card-title">{{'GAMING_COMPUTER' | translate}}</small>
            <p class="card-text">{{ 'GAMING_DES' | translate}}</p>
            <div class="text-center">
              <button href="#" class="btn-card" (click)="nextGame()">{{'LEARN_MORE' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="right-container">
        <div class="product-card">
          <img class="card-img-top" src="../assets/workPC.jpg" alt="Card image cap">
          <div class="card-body">
            <small class="card-title">{{'Work_Station' | translate}}</small>
            <p class="card-text">{{ 'WORK_DES' | translate}}</p>
            <div class="text-center">
              <button href="#" class="btn-card" (click)="nextWork()">{{'LEARN_MORE' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section *ngIf="mobile" class="product-mobile">
      <div class="left-container">
        <div class="product-card">
          <div class="img-container">
              <small class="card-title">{{'GAMING_COMPUTER' | translate}}</small>
            <img class="card-img-top" src="../assets/gamingPC.jpg" alt="Card image cap">
            <button href="#" class="btn-card" (click)="nextGame()">{{'LEARN_MORE' | translate}}</button>

          </div>
          <div class="card-body">
            <p class="card-text">{{ 'GAMING_DES' | translate}}</p>
            <div class="text-center">
            </div>
          </div>
        </div>
      </div>
      <div class="right-container">
        <div class="product-card">
          <div class="card-body">
            <p class="card-text">{{ 'WORK_DES' | translate}}</p>
            <div class="text-center">
            </div>
          </div>
          <div class="img-container">
              <small class="card-title">{{ 'Work_Station' | translate}}</small>
              <img class="card-img-top" src="../assets/workPC.jpg" alt="Card image cap">
              <button href="#" class="btn-card" (click)="nextWork()">{{'LEARN_MORE' | translate}}</button>

            </div>
        </div>
      </div>
    </section>

  </div>
  <div class="section">
    <section class="options">
        <div class="title">
            <p> {{'DISPLAY_SOFTWARE_NAME' | translate}}</p>
          </div>
      <div class="select-options">

        <!-- <div class="swiper-container" [swiper]="swipperConfig">

            <div class="swiper-wrapper">
              <div class="swiper-slide" *ngFor="let game of gameList">
                  <select-pill [imgLink]="'../../assets/gameLogo/' + game + '.jpg'" [pillName]="game" [selected]="selectedList.includes(game)" (select)="pillSelect($event)" ></select-pill>
              </div>
            </div>
          </div> -->
        <div class="switch-tab">
          <div (click)="switchTab()" [ngClass]="{'onSwitch': switchStatus === 'game'}" >{{'GAME_LIST' | translate}}</div>
          <div (click)="switchTab()" [ngClass]="{'onSwitch': switchStatus === 'work'}">{{'OFFICE_LIST' | translate}}</div>
        </div>

        <div class="switch-container">
            <div class="options-scroll">
                <svg-icon [applyCss]="true" (click)="scrollToBot(container)" src="../../assets/select-up.svg" [svgStyle]="{ 'width.em': 2 }"></svg-icon>
                <svg-icon [applyCss]="true" (click)="scrollToTop(container)" src="../../assets/select-down.svg" [svgStyle]="{ 'width.em': 2 }"></svg-icon>
            </div>
            <div #container class="options-container">
                <ng-container *ngFor="let game of gameList">
                  <select-pill [imgLink]="'../../assets/gameLogo/' + game.id + '.jpg'" [pillID]="game.id" [pillName]="game.name"
                    [selected]="selectedList.includes(game.id)" (select)="pillSelect($event)"></select-pill>
                </ng-container>
                <p *ngIf="gameList.length === 0">{{'SEARCH_ERROR' | translate}}</p>
              </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-sm" style="padding-right: 140px; padding-left: 200px;">
              <button [@enterAnimation] (click)="getResult()" *ngIf="selectedList.length !== 0" href="#" class="btn-card">{{'GET_RESULT' | translate}}</button>
            </div>
            <div class="col-sm">
              <button [@enterAnimation] (click)="clearResult()" *ngIf="selectedList.length !== 0" href="#" class="btn-card">{{'CLEAR SELECTIONS' | translate}}</button>
            </div>
          </div>
        </div>
        
        <!-- <button (click)="scrollToTop(container)">scroll to top</button> -->
        <!-- <button (click)="scrollToBot(container)">scroll to bottom</button> -->
        <form class="custom-form form-inline md-form form-sm">

          <input [formControl]="searchField" class="form-control form-control-sm ml-3 w-75" type="text"
            placeholder="Search" aria-label="Search">
          <i class="fas fa-search" aria-hidden="true"></i>
        </form>

      </div>

      <div *ngIf="!mobile" class="result-options">
        <div class="switch-tab">
              <div (click)="changeRequire('basic')" [ngClass]="{'onSwitch': requirement === 'basic'}" >{{'MINIMUN' | translate}}</div>
              <div (click)="changeRequire('Premium')" [ngClass]="{'onSwitch': requirement === 'Premium'}" >{{'RECOMEND' | translate}}</div>
              <div (click)="changeRequire('Esports')" [ngClass]="{'onSwitch': requirement === 'Esports'}">{{'PREMIUM' | translate}}</div>
        </div>

        <svg-icon [@loadAnimation] *ngIf="loading === 'load'" src="../../assets/loading.svg" [svgStyle]="{ 'width.em': 3, 'height.em': 3, 'margin-top.em': 5 }"></svg-icon>
        <div [@loadAnimation] *ngIf="loading === 'init'" class="configuration">
            <div class="parts">
            <svg-icon src="../../assets/CPU.svg" [svgStyle]="{ 'width.em': 5, 'height.em': 5 }"></svg-icon>
            <div class="parts-title">
                <span>{{'CPU' | translate}}</span>
                <p>???</p>
            </div>
          </div>
          <div class="parts">
            <svg-icon src="../../assets/GPU.svg" [svgStyle]="{ 'width.em': 5 ,'height.em': 5 }"></svg-icon>
            <div class="parts-title">
                <span>{{'Graphic_card' | translate}}</span>
                <p>???</p>
            </div>
          </div>
          <div class="parts">
            <svg-icon src="../../assets/MB.svg" [svgStyle]="{ 'width.em': 5,'height.em': 5 }"></svg-icon>
            <div class="parts-title">
                <span>{{'MOTHERBOARD' | translate}}</span>
                <p>???</p>
            </div>
          </div>
          <div class="parts">
            <svg-icon src="../../assets/MEM.svg" [svgStyle]="{ 'width.em': 5,'height.em': 5 }"></svg-icon>
            <div class="parts-title">
                <span>{{'MEM' | translate}}</span>
                <p>???</p>
            </div>
          </div>
          <div class="parts">
              <svg-icon src="../../assets/SSD.svg" [svgStyle]="{ 'width.em': 5,'height.em': 5 }"></svg-icon>
              <div class="parts-title">
                  <span>{{'Storage' | translate}}</span>
                  <p>???</p>
              </div>
            </div>
            <div class="parts">
                <svg-icon src="../../assets/PSU.svg" [svgStyle]="{ 'width.em': 5,'height.em': 5 }"></svg-icon>
                <div class="parts-title">
                    <span>{{'Power_Supply' | translate}}</span>
                    <p>???</p>
                </div>
              </div>
        </div>
        <div [@loadAnimation] *ngIf="loading === 'result'" class="configuration">
          <div class="parts">
            <svg-icon src="../../assets/CPU.svg" [svgStyle]="{ 'width.em': 5, 'height.em': 5 }"></svg-icon>
            <div class="parts-title">
                <span>{{'CPU' | translate}}</span>
                <p>{{result.cpu}}</p>
            </div>
          </div>
          <div class="parts">
            <svg-icon src="../../assets/GPU.svg" [svgStyle]="{ 'width.em': 5 ,'height.em': 5 }"></svg-icon>
            <div class="parts-title">
                <span>{{'Graphic_card' | translate}}</span>
                <p>{{result.gpu}}</p>
            </div>
          </div>
          <div class="parts">
            <svg-icon src="../../assets/MB.svg" [svgStyle]="{ 'width.em': 5,'height.em': 5 }"></svg-icon>
            <div class="parts-title">
                <span>{{'MOTHERBOARD' | translate}}</span>
                <p>{{result.mb}}</p>
            </div>
          </div>
          <div class="parts">
            <svg-icon src="../../assets/MEM.svg" [svgStyle]="{ 'width.em': 5,'height.em': 5 }"></svg-icon>
            <div class="parts-title">
                <span>{{'MEM' | translate}}</span>
                <p>{{result.mem}}</p>
            </div>
          </div>
          <div class="parts">
              <svg-icon src="../../assets/SSD.svg" [svgStyle]="{ 'width.em': 5,'height.em': 5 }"></svg-icon>
              <div class="parts-title">
                  <span>{{'Storage' | translate}}</span>
                  <p>{{result.ssd}}</p>
              </div>
            </div>
            <div class="parts">
                <svg-icon src="../../assets/PSU.svg" [svgStyle]="{ 'width.em': 5,'height.em': 5 }"></svg-icon>
                <div class="parts-title">
                    <span>{{'Power_Supply' | translate}}</span>
                    <p>{{result.psu[0]}}</p>
                    <p *ngIf="loading === 'result'">{{psu}}</p>
                </div>
              </div>
        </div>
        <div class="estimate">
          <h1 *ngIf="loading === 'result'"> {{'ESTIMATE_PRICE' | translate}}: ${{result.price[0].toFixed(2)}}</h1>
          <!-- Button trigger modal -->
          <button type="button" class="btn-card" data-backdrop="false" data-toggle="modal" data-target="#myModal">{{'CONTACT_US' | translate}}</button>
          <div class="modal fade" id="myModal" role="dialog" style="position: absolute;;">
              <div class="modal-dialog">

                 <!-- Modal content-->
                 <div class="modal-content">
                    <div class="modal-body">
                      <div class="title"> Get in touch with us</div>
                      <form class="form-inline md-form form-sm">
                        <input [formControl]="name" placeholder="name" class="form-control form-control-sm ml-3 w-75" type="text">
                        <input [formControl]="email" placeholder="E-mail" class="form-control form-control-sm ml-3 w-75" type="text">
                        <input [formControl]="msg" placeholder="Message" class="form-control form-control-sm ml-3 w-75" type="text">
                      </form>
                      <div>
                          <button class="btn" (click)="sendMsg()">send</button>
                      </div>

                      <div class="contact">
                          <p>Email: nanodesign666@gmail.com</p>
                          <p>Phone: 1-647-782-2427</p>
                      </div>
                       
                       <div class="wechat">
                          <svg-icon src="../../assets/wechat.svg" [svgStyle]="{ 'width.em': 0.7,'height.em':  0.7 }"></svg-icon>
                         <img src="../../assets/wechat.jpg">
                       </div>
                       <div class="instagram">
                          <svg-icon src="../../assets/instagram.svg" [svgStyle]="{ 'width.em':  0.7,'height.em':  0.7 }"></svg-icon>
                          <p>nanopcdesign</p>
                       </div>
                       <div>
                          <button class="btn" data-dismiss="modal">Close</button>
                      </div>                       
                    </div>
                 </div>
              </div>
           </div>
    </div>
      </div>

    </section>
  </div>

  <div *ngIf="mobile" class="section">
    <section class="options">
      <div class="result-options">
          <div class="switch-tab">
              <div (click)="changeRequire('basic')" [ngClass]="{'onSwitch': requirement === 'basic'}" >{{'MINIMUN' | translate}}</div>
              <div (click)="changeRequire('Premium')" [ngClass]="{'onSwitch': requirement === 'Premium'}" >{{'RECOMEND' | translate}}</div>
              <div (click)="changeRequire('Esports')" [ngClass]="{'onSwitch': requirement === 'Esports'}">{{'PREMIUM' | translate}}</div>
        </div>

        <svg-icon [@loadAnimation] *ngIf="loading === 'load'" src="../../assets/loading.svg" [svgStyle]="{ 'width.em': 3, 'height.em': 3, 'margin-top.em': 5 }"></svg-icon>
        <div [@loadAnimation] *ngIf="loading === 'init'" class="configuration">
            <div class="parts">
                <svg-icon src="../../assets/CPU.svg" [applyCss]="true" [svgStyle]="{ 'width.em': 8, 'height.em': 8 }"></svg-icon>
                <div class="parts-title">
                    <span>{{'CPU' | translate}}</span>
                    <p>???</p>
                </div>
              </div>

              <div class="parts">
                <svg-icon src="../../assets/GPU.svg" [svgStyle]="{ 'width.em': 9 ,'height.em': 9 }"></svg-icon>
                <div class="parts-title">
                    <span>{{'Graphic_card' | translate}}</span>
                    <p>???</p>
                </div>
              </div>
              <div class="parts">
                <svg-icon src="../../assets/MB.svg" [applyCss]="true" [svgStyle]="{ 'width.em': 5 , 'height.em': 5 }"></svg-icon>
                <div class="parts-title">
                    <span>{{'MOTHERBOARD' | translate}}</span>
                    <p>???</p>
                </div>
              </div>
              <div class="parts">
                <svg-icon src="../../assets/MEM.svg" [applyCss]="true" [svgStyle]="{ 'width.em': 5 }"></svg-icon>
                <div class="parts-title">
                  <span>{{'MEM' | translate}}</span>
                  <p>???</p>
                </div>
              </div>


              <div class="parts">
                  <svg-icon src="../../assets/SSD.svg" [applyCss]="true" [svgStyle]="{ 'width.em': 5 }"></svg-icon>
                  <div class="parts-title">
                      <span>{{'Storage' | translate}}</span>
                      <p>???</p>
                  </div>
                </div>
                <div class="parts">
                    <svg-icon src="../../assets/PSU.svg" [applyCss]="true" [svgStyle]="{ 'width.em': 5,'height.em': 5 }"></svg-icon>
                    <div class="parts-title">
                        <span>{{'Power_Supply' | translate}}</span>
                        <p>???</p>
                    </div>
                  </div>
        </div>
        <div [@loadAnimation] *ngIf="loading === 'result'" class="configuration">
            <div class="parts">
              <svg-icon src="../../assets/CPU.svg" [applyCss]="true" [svgStyle]="{ 'width.em': 8, 'height.em': 8 }"></svg-icon>
              <div class="parts-title">
                  <span>{{'CPU' | translate}}</span>
                  <p>{{result.cpu}}</p>
              </div>
            </div>

            <div class="parts">
              <svg-icon src="../../assets/GPU.svg" [svgStyle]="{ 'width.em': 9 ,'height.em': 9 }"></svg-icon>
              <div class="parts-title">
                  <span>{{'Graphic_card' | translate}}</span>
                  <p>{{result.gpu}}</p>
              </div>
            </div>
            <div class="parts">
              <svg-icon src="../../assets/MB.svg" [applyCss]="true" [svgStyle]="{ 'width.em': 5 , 'height.em': 5 }"></svg-icon>
              <div class="parts-title">
                  <span>{{'MOTHERBOARD' | translate}}</span>
                  <p>{{result.mb}}</p>
              </div>
            </div>
            <div class="parts">
              <svg-icon src="../../assets/MEM.svg" [applyCss]="true" [svgStyle]="{ 'width.em': 5 }"></svg-icon>
              <div class="parts-title">
                <span>{{'MEM' | translate}}</span>
                <p>{{result.mem}}</p>
              </div>
            </div>


            <div class="parts">
                <svg-icon src="../../assets/SSD.svg" [applyCss]="true" [svgStyle]="{ 'width.em': 5 }"></svg-icon>
                <div class="parts-title">
                    <span>{{'Storage' | translate}}</span>
                    <p>{{result.ssd}}</p>
                </div>
              </div>
              <div class="parts">
                  <svg-icon src="../../assets/PSU.svg" [applyCss]="true" [svgStyle]="{ 'width.em': 5,'height.em': 5 }"></svg-icon>
                  <div class="parts-title">
                      <span>{{'Power_Supply' | translate}}</span>
                      <p>{{result.psu[0]}}</p>
                      <p>{{psu}}</p>
                  </div>
                </div>
          </div>

        <div class="estimate">
          <h1 *ngIf="loading === 'result'"> {{'ESTIMATE_PRICE' | translate}}: ${{result.price[0]}}</h1>
          <!-- Button trigger modal -->

<button type="button" class="btn-card" data-backdrop="false" data-toggle="modal" data-target="#myModal">{{'CONTACT_US' | translate}}</button>
<div class="modal fade" id="myModal" role="dialog" style="position: absolute;;">
    <div class="modal-dialog">

       <!-- Modal content-->
       <div class="modal-content">
          <div class="modal-body">
            <div class="title"> Get in touch with us</div>
            <form class="form-inline md-form form-sm">
              <input [formControl]="name" placeholder="name" class="form-control form-control-sm ml-3 w-75" type="text">
              <input [formControl]="email" placeholder="E-mail" class="form-control form-control-sm ml-3 w-75" type="text">
              <input [formControl]="msg" placeholder="Message" class="form-control form-control-sm ml-3 w-75" type="text">
            </form>
            <div>
                <button class="btn" (click)="sendMsg()">send</button>
            </div>

            <div class="contact">
                <p>Email: nanodesign666@gmail.com</p>
                <p>Phone: 1-647-782-2427</p>
            </div>
             
             <div class="wechat">
                <svg-icon src="../../assets/wechat.svg" [svgStyle]="{ 'width.em': 0.7,'height.em':  0.7 }"></svg-icon>
               <img src="../../assets/wechat.jpg">
             </div>
             <div class="instagram">
                <svg-icon src="../../assets/instagram.svg" [svgStyle]="{ 'width.em':  0.7,'height.em':  0.7 }"></svg-icon>
                <p>nanopcdesign</p>
             </div>
             <div>
                <button class="btn" data-dismiss="modal">Close</button>
            </div>                       
          </div>
       </div>
    </div>
 </div>
    </div>
      </div>

    </section>
  </div>
  <!-- <div class="section">
    <h1>Section 4</h1>
    <button (click)="addSection()">Add sections and change color</button>
    <button (click)="fullpage_api.moveTo('secondPage', 2)">Move to second page</button>
    <button (click)="removeLast()">Remove last</button>
  </div> -->
</div>
